<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ the_title }}</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<section class="template-container">
  <h2 class="template-head">{{ the_title }}</h2>
  <div class="template-body">
    <div class="template-decoration left"></div>
    <div class="template-decoration right"></div>
    <div class="template-circle"></div>
    {% block template %}
    {% endblock %}
  </div>
</section>
</body>
</html>
