{% extends 'base.html' %}
{% block template %}
  <form class="entry-inner" action="/search" method="POST">
    <h3>Use this form to submit search request:</h3>

    <label for="phrase">Phrase:</label>
    <input id="phrase" name="phrase" type="text" width="60">

    <label for="letters">Letters:</label>
    <input id="letters" name="letters" type="text" value="aeiou">

    <input value="Search!" type="submit">
  </form>
  <form class="entry-logs" action="/logs" method="GET">
    <input value="Logs" type="submit">
  </form>
{% endblock %}
