{% extends 'base.html' %}
{% block template %}
  <table class="logs-inner">
    <tr>
      {% for title in titles %}
        <th>{{ title }}</th>
      {% endfor %}
    </tr>
    {% for data_row in data %}
      <tr>
        {% for data_item in data_row %}
          <td>{{ data_item }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}