{% extends 'base.html' %}
{% block template %}
  <div class="results-inner">
    <h3>You submited the following data</h3>

    <table>
      <tr>
        <td>Phrase:</td>
        <td>{{ the_phrase }}</td>
      </tr>
      <tr>
        <td>Letters:</td>
        <td>{{ the_letters }}</td>
      </tr>
    </table>

    <p>When "{{ the_phrase }}" is searched for "{{ the_letters }}", the following results are returned:</p>
    <h3>{{ the_results }}</h3>
  </div>
{% endblock %}
