:root {
  --red-color: #F69A73;
  --red-color-darker: #d67c6c;
  --green-color: #9bd773;
  --green-color-darker: #75b452;
  --white-color: #FFFFFF;
  --font-color: #707981;
  --input-color: #E9EFF6;
  --minus-sixty: -60px;
  --minus-thirty: -30px;
  --minus-twenty: -20px;
  --twenty: 20px;
  --thirty: 30px;
  --sixty: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  background-color: var(--red-color);
}

/* Template */
.template-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.template-head {
  color: var(--font-color);
  text-align: center;
  margin-top: var(--twenty);
}

.template-body {
  margin: var(--twenty) auto 0;
  background: var(--white-color);
  border-radius: var(--thirty);
  position: relative;
}

.template-decoration,
.template-decoration:before,
.template-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: var(--twenty);
}

.template-decoration.left,
.template-decoration.right {
  border-radius: var(--twenty);
  background: var(--red-color);
}

.template-decoration.left {
  bottom: var(--sixty);
  left: var(--minus-thirty);
}

.template-decoration.right {
  top: var(--sixty);
  right: var(--minus-thirty);
}

.template-decoration.left:before,
.template-decoration.left:after,
.template-decoration.right:before,
.template-decoration.right:after {
  border-radius: var(--thirty);
  background: var(--white-color);
}

.template-decoration.left:before {
  top: var(--minus-twenty);
}

.template-decoration.left:after {
  top: var(--twenty);
  left: 10px;
}

.template-decoration.right:before {
  top: var(--minus-twenty);
  right: 0;
}

.template-decoration.right:after {
  top: var(--twenty);
  right: 10px;
}

.template-circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: var(--twenty);
  height: var(--twenty);
  border-radius: 50%;
  background: var(--white-color);
}

/* Inner content */
.entry-inner {
  padding: 50px 50px 0 50px;
}

.entry-logs {
  padding: 0 50px 50px 50px;
}

.logs-inner,
.results-inner {
  padding: 50px;
}

.entry-inner h3,
.results-inner h3 {
  color: var(--font-color);
  text-align: center;
  margin-bottom: var(--twenty);
}

.entry-inner label {
  padding-left: 15px;
  display: block;
}

.entry-inner input,
.entry-logs input {
  font-size: 16px;
  line-height: 40px;
  color: var(--font-color);
  display: block;
  width: 100%;
  padding: 0 15px;
  margin-bottom: var(--twenty);
  background: var(--input-color);
  border-width: 0;
  border-radius: var(--twenty);
  outline: none;
}

.entry-inner p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.entry-inner input[type="submit"],
.entry-logs input[type="submit"] {
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  cursor: pointer;
}

.entry-inner input[type="submit"] {
  background: var(--red-color);
  border-bottom: 4px solid var(--red-color-darker);
}

.entry-logs input[type="submit"] {
  background: var(--green-color);
  border-bottom: 4px solid var(--green-color-darker);
  margin-bottom: 0;
}

.logs-inner td {
  min-width: 100px;
  padding: 0 5px;
  text-align: center;
}